{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        "@babel/plugin-transform-async-to-generator"
    ],
    "ignore": [
        "./node_modules",
        "./assets",
        "./view",
        "./tests",
        "./logs",
        "./dist",
        "./build"
    ]
}
