165.254.225.0/24:
  description: a description about this prefix
  asn: 15562
  ignoreMorespecifics: false
  ignore: false
 
165.254.255.0/24:
  description: the description will be reported in the alerts
  asn: 15562
  ignoreMorespecifics: false
  ignore: false
 
192.147.168.0/24:
  description: descriptions make alerts easier to read
  asn: 15562
  ignoreMorespecifics: false
  ignore: false


options:
  monitorASns:
    2914:
      group: default
    3333:
      group: default